.photoWall {
  height: 200px;
  overflow-y: hidden;
}
.photo {
  width: 100%;
}
/* 栏目列表 */
.category_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category_list_item {
  width: 33%;
  height: 80px;
  text-align: center;
  padding: 1em 0;
}





/*.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}*/
